{% include "header.html" %}
<body>
{% include "navbar.html" %}

<div class="container"><br>
  <h1 >So sieht deine bisherige Statisktik aus!</h1>
    <h3>Insgesamt:</h3>
    <p>{{satz_workoutgesamt}}</p>
  <p>{{satz_walkgesamt}}</p>
  <p>{{satz_stretchinggesamt}}</p>
  <p>{{satz_vacuumgesamt}}</p>
  <p>{{satz_tidygesamt}}</p>
  <p>{{satz_bedgesamt}}</p>
  <p>{{satz_veggiegesamt}}</p>
  <p>{{satz_sweetsgesamt}}</p>
  <p>{{satz_alcoholgesamt}}</p>
    <h4>Diesen Monat:</h4>

    <h4 >Vergleiche:</h4>

    <p>Du hast deine Habits x mal getrackt.</p>
</div>

{% include "footer.html" %}